<script type="text/javascript">
  var loadFile = function(event) {
    var elms = document.getElementById("image");
    image.innerHTML = "<div id='image'> Preview Image <img id='output' height='150' width='250' alt='Image Preview' style='margin-bottom: 10px; margin-top: 15px;'/><br>"
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
  };
</script>

<%= simple_form_for @message, html: { multipart: true }  do |f| %>
  <%= f.input :title, label: "Message Title"  %>
  <%= f.input :description, label: "Short Description" %>
  <%= f.input :content, :as => :text, :input_html => { 'rows' => 10} %>
  <strong>Category:</strong>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
    <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
    <% end %>
  <%= f.file_field :picture, onchange: "loadFile(event)" %>
  
  <div id="image"></div>
  
  <%= f.button :submit %>

<% end %>

<% if @message.picture_url %>
<%= link_to "Delete Image", "/message/delete/"+@message.id.to_s %>
<% end %>