<div class="comment">
  <p class="comment-content"><%= messagepart.contentparttitle %></p>
  <p class="comment-content"><%= messagepart.contentpart %></p>
  <p class="comment-content">Send at: <%= messagepart.send_at.strftime("%d/%m/%Y") %></p>
  <p class="comment-content"><%= image_tag messagepart.attached_img, size: "100x100" if messagepart.image? %></p>

    <div class="links">
      <% if speaker_signed_in? %>
        <% if messagepart.speaker_id == current_speaker.id %>

          <%= link_to "Edit", edit_message_messagepart_path(messagepart.message, messagepart) %>
          <%= link_to "Delete", message_messagepart_path(messagepart.message, messagepart), method: :delete, data: { confirm: "Are you sure?" } %>
          <!-- # first argument /messagepart.message gets /messageparts3
          # messagepart gets /messagepart/1
           -->
        <% end %>
      <% end %>
    </div>
</div>
