<h1>Edit Content Part</h1>
<%= simple_form_for([@message, @messagepart], html: { multipart: true } ) do |f| %>
<%= f.input :contentparttitle, label: "Title" %>
<%= f.input :contentpart, label: "Content Part", :as => :text, :input_html => { 'rows' => 10} %>
<%= f.file_field :picturepart %>
<%= f.button :submit %>
<% end %>
