<h2>Sign up as Listener</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.association :speakers, as: :check_boxes, label_method: :email, value_method: :id %>

    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :lastname, required: true, autofocus: true %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :time_zone %>
          <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.all, { default: :UTC }, { class: "form-control"}) %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <%= f.label "Recieve message at hour (HH)" %>
          <%= f.select(:recieve_message_at, (00..23).map{ |i| [format('%02d', i),format('%02d', i)] }, {}, { class: "form-control" } ) %>
        </div>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "listeners/shared/links" %>
